@CHARSET "UTF-8";

.clearfix:after{
         content:".";
         clear : both;
         display:block;
         height:0px;
         visibility:hidden; /*눈에 보이는 것만 안보이도록 그 부분은 있음  */
      }

.block_hlist:after{
         content:".";
         clear : both;
         display:block;
         height:0px;
         visibility:hidden; /*눈에 보이는 것만 안보이도록 그 부분은 있음  */
      }
      
.block_hlist li{
   display:block;
   float: left;
}

.block_hlist > li:first-child{
   padding-left: 0px !important;
   background: none !important;
}

.hidden{
         display: none; /* 아예 그부분이 삭제되도록함 */
}

.content-container{
	display:flex;
	position: relative;
	width:993px;
	margin-left:auto;
	margin-right:auto;
	height:inherit;
}

/* ------------------------- #header ------------------------------------------------------ */
#header{
         height: 100px;
         background: #c19b84;
}

#header > .content-container > *
{
   position: absolute;
}

#logo{
   
   left:0px;
   top: 10px;
}   

#join-menu{
   right:0px;
   top:55px;
}

#join-menu li{
   font-size: 15px;
   font-weight: bold;
   padding-left: 24px;
   background:url('../images/bg-main-menu-vsp.png') no-repeat  13px  center;
}
   #join-menu > ul >li:FIRST-CHILD{
      padding-left: 0px;
      background:none;
   }
   
   #join-menu li a{
      text-decoration:none;
      color: #646464;
   }
      #join-menu li a:HOVER{
         color : white;
      }
      
#main-search{
   
   left:368px;
   top:50px;
   width: 320px;
   height:25px;
   border: 1px solid #845f4a;
   
}
   #main-search  input{
      display : block;
      float: left;
      height: 25px;
      line-height: 25px;
      text-align: center;
   }
   
      #main-search input[type ="text"]{
         /* display: block; */
         width: calc(100% - 40px);/* 222px; */
         /* height: 25px; */
         border : 5px; 
         text-align: left;
         font-weight: bold;
         /* float: left; */
         opacity:0.2;
         
      }
      #main-search input[type ="submit"] {
         
         cursor:pointer;
         border : 0px; 
         width: 40px;
         border-left: 1px solid #845f4a;
         float: right;
         font-family: 돋움;
         font-size: 15px;
         opacity:0.7;
      
      } 
      
/* -------------------------body-------------------------- */
#body
{
	min-height:500px;
	/* border-top:6px solid #8CBA34; */
	margin-top:10px;
	
}

#aside{
	top:110px;
	left:10px;
	display:inline-block;
	width:200px;
	min-height : inherit;
}


#aside > nav > ul > li > a
{
	padding-left:10px;
	font-family:맑은 고딕, sans-serif;
	font-size:15px;
	font-weight:bold;
	color: #004040;
	text-decoration:none; /* 밑줄없애기 */			
}

#aside > nav > ul > li > a:HOVER
{
	/* HOVER : 마우스 올렸을 때 */
	text-decoration: underline;
	color:#800000;
}

#main{
	display:inline-block;
	width:720px;
	padding-left: 25px;

	min-height : inherit;
	
	padding-left: 1px;
	padding-bottom:100px;

	/* -ms-grid-row:1;
	-ms-grid-column:2; */
	/* position : relative;
	float : left;
	margin-left : auto; 
	height: inherit;
	width : 755px; */
	
}

#subtitle{
	font-size:25px;
}

#modify-information{
	padding-top:15px;
}


#modify > tbody > tr > td{
	border:1px solid #e5e5e5;
	
}

.nomodify{
	text-indent:5px;
}


#modify > tbody > tr > td:FIRST-CHILD{
	text-align:center;
	width:150px;
	height:50px;
	background:#f1f1f1;
}

#modify > tbody > tr > td:LAST-CHILD{
	height:50px;
	width:500px;
	padding-left: 10px;
}

#modify > tbody > tr > td > input{
	width:400px;
	height:25px;
	border:1px solid #e5e5e5;
	text-indent:10px;
}

#main input[type='submit']{
	margin-right:20px;
	height:40px;
	width:100px;
	background:#ffffff;
}

#main input[type='reset']{
	margin-left:20px;
	height:40px;
	width:100px;
	background:#ffffff;
}



/* .article-search-form{
	height: 21px;
}

.article-search-form select,
.article-search-form input 
{
	display: block;
	float: left;
	margin-left: 3px;
	height: 21px;
	line-height: 21px;	
}
.article-search-form input[type="text"]
{
	border:1px solid #8CBA34;
	width:150px;
}
.article-search-form input[type="submit"]
{
	cursor:pointer;
	border:0px;
	text-indent: -999px;
	overflow: hidden;	
	width:49px;
	height: 23px;
	background: url("../images/btnSearch.png") no-repeat left top;
} */

/* #log-information{
	style:block;
	width:500px;
	align:center;
	border-top:3px solid #8CBA34;
	margin-top:10px;
	text-align:center;
} */
/* #information{
	width:500px;
	border-top:3px solid #8CBA34;
}

#information label{
	display:inline-block;
	border:1px solid #c0c0c0;
	width:120px;
	height:20px;
	text-align:center;
}

#information .radio-label{
	display:inline-block;
	border:1px solid #c0c0c0;
	width:50px;
	height:20px;
	text-align:center;
}

#information input{
	display:inline-block;
	border:1px solid #c0c0c0;
	width:300px;
	float:left;
	height:20px
}



#information label{
	float:left;
	display:block;
}


#information input[type='radio']{
	display:block;
	
	width:10px;
}
#information input[type='radio']{
	display:block;
	
	width:10px;
} */



#footer
{
	height:100px;
	background: #c19b84;
}

#company-menu
{
	padding-top:20px;
	padding-left : 55px;
	position:absolute;
	
}
#company-menu > ul >li
{
	float:left;
	padding-left: 30px;
	padding-right: 30px;
	background:url('../images/bg-main-menu-vsp.png') no-repeat 4px center;
}
	
#company-menu > ul >li:FIRST-CHILD
{
	background:none;
}

#company-menu > ul > li a
{
	font-family: "맑은 고딕", sans-serit;
	font-size: 15px;
	color: #646464;
	text-decoration:none;
}
