@import url(../../css/reset.css);

@CHARSET "UTF-8";

.clearfix:after{
			content:".";
			clear : both;
			display:block;
			height:0px;
			visibility:hidden; /*´«¿¡ º¸ÀÌ´Â °Í¸¸ ¾Èº¸ÀÌµµ·Ï ±× ºÎºÐÀº ÀÖÀ½  */
		}
.hidden{
		   display: none; /* ¾Æ¿¹ ±×ºÎºÐÀÌ »èÁ¦µÇµµ·ÏÇÔ */
}

.content-container{
	position: relative;
	width:993px;
	margin-left:auto;
	margin-right:auto;
	height:inherit;
	/* background: yellow; */
}


/* ------------------------- #header ------------------------------------------------------ */
#header{
			height: 160px;
			background: #c19b84;
			border-bottom: 3px  solid white;
}

#header > .content-container > *
{
	position: absolute;
}

#logo{
	
	left:0px;
	top: 10px;
}	

#join-menu{
	right:0px;
	top:55px;
}

#join-menu li{
	font-size: 15px;
	font-weight: bold;
	padding-left: 24px;
	background:url('../../images/bg-main-menu-vsp.png') no-repeat  13px  center;
}
	#join-menu > ul >li:FIRST-CHILD{
		padding-left: 0px;
		background:none;
	}
	
	#join-menu  li a{
		text-decoration:none;
		color: #646464;
	}
		#join-menu  li a:HOVER{
			color : white;
		}
		
#main-search{
	
	left:368px;
	top:50px;
	width: 320px;
	height:25px;
	border: 1px solid #845f4a;
	
}
	#main-search  input{
		display : block;
		float: left;
		height: 25px;
		line-height: 25px;
		text-align: center;
	}
	
		#main-search input[type ="text"]{
			/* display: block; */
			width: calc(100% - 40px);/* 222px; */
			/* height: 25px; */
			border : 5px; 
			text-align: left;
			font-weight: bold;
			/* float: left; */
			opacity:0.2;
			
		}
		#main-search input[type ="submit"] {
			
			cursor:pointer;
			border : 0px; 
			width: 40px;
			border-left: 1px solid #845f4a;
			float: right;
			font-family: µ¸¿ò;
			font-size: 15px;
			opacity:0.7;
		
		}
/* ¹¹¾ß */
#header-main-menu {
	
	position:relative;
	top:130px;
	left:60px;	

}
	#header-main-menu li{
		
		position:relative;
		float:left;
		padding-left: 75px;
		padding-right: 75px;
		/* border-bottom: 1px  solid #c0c0c0; */
	}
		
	#header-main-menu   li  a{
		
		font-family: "¸¼Àº °íµñ", sans-serit;
		font-size: 20px;
		font-weight: bold;
		color: #646464;
		text-decoration:none;
	}
		#header-main-menu  li a:HOVER{
		
			color : #ebac56;;
		}

/* ------------------------- #body ------------------------------------------------------		 */

#body{
	position:relative;
	min-height:500px;
	border-top:10px solid #c19b84;
	/* background: yellow; */
		
}
#body .content-container{ /*body°¡ min-height·Î ÁöÁ¤µÇ¾îÀÖ±â¶§¹®  */
	
	/* display: -ms-grid;
	-ms-grid-rows:300px;
	-ms-grid-column: 205px 755px;
	 */
	 
	 display: flex;
	 min-height:inherit;
	/*  flex-flow : row wrap; */
	/* background: red; */
	/* background: black; */
	
}
.page-content .wrapper{
	position:relative;
}

.wrapper{
	width:1152px;
	margin-top: 0px;
	margin:auto;
	margin-bottom: 0px;
}

.content-header{
	padding-top:50px;
	padding-bottom:50px;
	text-align:center;
}

.primary-title{
	font-size:35px;
	text-transform: uppercase;
	color:#555;
} 	

.secondary-title{
	margin:6px 0;
	font-size:14px;
	color:#999;
}

.small-margin{
	margin-top:5px;
}

.board-write{
	position: relative;
	width: 846px;
	margin:0 auto;
	border-top:2px solid #888;
	border-bottom:1px solid #d9d9d9;
	padding-top:10px;
}

#loginBox{
	float:left;
	margin-left:250px;
}


/* .board-table{
	width:100%;
	margin-top:20px;
	border-bottom:1px solid #eee;
}

.board-table td{
	border-bottom: 0px solid #eee;
	border-left: 0px solid #eee;
	padding: 7px 30px;
	vertical-align:middle;
}

.board-table td:first-child{
	border-left: 0px;
}

.board-table .loginlabel{
	width : 70px;
	padding-left: 240px;
} */

.board-btns{
	text-align: center;
	margin-top:20px;
	padding-bottom: 100px;
	
}
.btn {
	border: 0;
	display: inline-block;
	box-sizing: content-box;
	min-width: 50px;
	height: 35px;
	padding: 0 15px;
	margin: 0;
	background: #444;
	color: #fff;
	line-height: 35px;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
	margin-right: 0px;
	text-decoration:none;
	font-family: "Nanum Gothic", "³ª´®°íµñ", "¸¼Àº°íµñ", "MalgunGothic", "Malgun Gothic", Dotum, "µ¸¿ò", verdana, sans-serif;
}

.btn-gray {
	background: #444;
	margin-left: 4px;
}

.btn-color {
	background: #fe9901;
}

.btn-large {
	height: 65px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 20px;
	line-height: 65px;
	margin-left:10px;
	
}

		
/* ----------------footer------------------------------- */
#footer{
	
	position:relative;
	height:100px;
	background: #c19b84;
}


#company-menu{
	padding-top:20px;
	padding-left : 55px;
	position:relative;
	
	
}
	#company-menu > ul >li{
		float:left;
		padding-left: 30px;
		padding-right: 30px;
		background:url('../../images/bg-main-menu-vsp.png') no-repeat 4px center;
	}
	
	#company-menu > ul >li:FIRST-CHILD{
		background:none;
	}
	
	#company-menu > ul > li a{
		font-family: "¸¼Àº °íµñ", sans-serit;
		font-size: 15px;
		color: #646464;
		text-decoration:none;
	}

		