@import url(../../css/reset.css);

@CHARSET "UTF-8";

.block_hlist:after{
			content:".";
			clear : both;
			display:block;
			height:0px;
			visibility:hidden; /*눈에 보이는 것만 안보이도록 그 부분은 있음  */
		}
		
.block_hlist li{
	display:block;
	float: left;
}

.block_hlist > li:first-child
{
	padding-left: 0px !important;
	background: none !important;
}

.hidden{
		   display: none; /* 아예 그부분이 삭제되도록함 */
}

.content-container{
	position: relative;
	width:993px;
	margin-left:auto;
	margin-right:auto;
	height:inherit;
	/* background: yellow; */
}

/* ------------------------- #header ------------------------------------------------------ */
#header{
			height: 160px;
			background: #c19b84;
			border-bottom: 3px  solid white;
}

#header > .content-container > *
{
	position: absolute;
}

#logo{
	
	left:0px;
	top: 10px;
}	

#join-menu{
	right:0px;
	top:55px;
}

#join-menu li{
	font-size: 15px;
	font-weight: bold;
	padding-left: 24px;
	background:url('../images/bg-main-menu-vsp.png') no-repeat  13px  center;
}
	#join-menu > ul >li:FIRST-CHILD{
		padding-left: 0px;
		background:none;
	}
	
	#join-menu  li a{
		text-decoration:none;
		color: #646464;
	}
		#join-menu  li a:HOVER{
			color : white;
		}
		
#main-search{
	
	left:368px;
	top:50px;
	width: 320px;
	height:25px;
	border: 1px solid #845f4a;
	
}
	#main-search  input{
		display : block;
		float: left;
		height: 25px;
		line-height: 25px;
		text-align: center;
	}
	
		#main-search input[type ="text"]{
			/* display: block; */
			width: calc(100% - 40px);/* 222px; */
			/* height: 25px; */
			border : 5px; 
			text-align: left;
			font-weight: bold;
			/* float: left; */
			opacity:0.2;
			
		}
		#main-search input[type ="submit"] {
			
			cursor:pointer;
			border : 0px; 
			width: 40px;
			border-left: 1px solid #845f4a;
			float: right;
			font-family: 돋움;
			font-size: 15px;
			opacity:0.7;
		
		} 
#header-main-menu {
	
	position:relative;
	top:130px;
	left:60px;	

}
	#header-main-menu li{
		
		position:relative;
		float:left;
		padding-left: 75px;
		padding-right: 75px;
		/* border-bottom: 1px  solid #c0c0c0; */
	}
		
	#header-main-menu   li  a{
		
		font-family: "맑은 고딕", sans-serit;
		font-size: 20px;
		font-weight: bold;
		color: #646464;
		text-decoration:none;
	}
		#header-main-menu  li a:HOVER{
		
			color : #ebac56;;
		}
		
/* ------------------------- #body ------------------------------------------------------		 */
#body{
	
	/* display:inline-block; */
	
	/* min-height:1550px; */
	position:relative;
	min-height:500px;
	border-top:10px solid #c19b84;
	
	
}

#body .content-container{ /*body가 min-height로 지정되어있기때문  */
	
	/* display: -ms-grid;
	-ms-grid-rows:300px;
	-ms-grid-column: 205px 755px;
	 */
	 
	 display: flex;
	 min-height:inherit;
	/*  flex-flow : row wrap; */
	/* background: red; */
	/* background: black; */
	
}

.page-content .wrapper{
	position:relative;
}
.wrapper{
	width:1152px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.page-header{
	padding-top:50px;
	padding-bottom:50px;
	text-align:center;
	
}

.primary-title{
	font-size:35px;
	text-transform: uppercase;
	color:#555;
}

.secondary-title{
	margin:6px 0;
	font-size:14px;
	color:#999;
}

.board-write{
	position: relative;
	width: 846px;
	margin:0 auto;
	border-top:2px solid #888;
	padding-top:10px;
	padding-bottom: 50px;

}

#notice-search{
	margin-top:10px;
	
}

#notice-search > fieldset > select{
	border: 1px solid #8CBA34;
	height: 20px;
}

#notice-search input[type ="text"]{
			
	border: 1px solid #8CBA34;
	height: 20px;
} 
#notice-search input[type=submit]{
	/*a태그라던지 인라인태그로되있는 것은 너비,높이가 안먹을수도  */
	text-indent : -999px;
	cursor:pointer;
	border : 0px; 
	width: 49px;
	height :23px;
	background : url('../images/btn-search.png') no-repeat center;
	overflow:hidden; /*영역밖에있는것 안보이게! 위에 -999로 해뒀지만 나중엔 보일 경우도 있음   */	
}
.align-container{
	/* background: yellow; */
	text-align:right;
}

.align-container1{
	/* background: yellow; */
	text-align:center;
}

#notices{
	margin-top:30px;
	margin-left:50px;
	width: 720px;
	table-layout : fixed; /*넘어간내용때문에 그 부분의 컬럼 크기를 늘어나도록 하지않고 옆 컬럼과 겹치게해줌  */
}

	#notices > thead > tr > th{
		
		height:30px;
		line-height: 30px;  /*수직가운데 정렬 하기위해 줄간격 지정  */
		width: 100px;
		background:#f5f5f5 url('../images/bg-title-sp.png') no-repeat  left center;
		text-align: center;
		border-top: 1px solid #555;
		/* border-top-color: #8cba35; */
	}
	
	#notices > thead > tr > th:FIRST-CHILD{
		
			background: #f5f5f5;
	}
	/* #notices > thead > tr > th, */
	#notices > tbody > tr > td
	{
		height:30px;
		line-height: 30px;  /*수직가운데 정렬 하기위해 줄간격 지정  */
		width: 100px;
		/* border: 1px solid #e9e9e9; */
		border-bottom:1px solid #e9e9e9;
		text-align: center;
	}
	
	#notices > thead > tr > th:nth-child(4n+1),
	#notices > tbody > tr > td:nth-child(4n+1)
	{
		width:60px;
	}
	
	#notices > thead > tr > th:nth-child(2),
	#notices > tbody > tr > td:nth-child(2)
	{
		width:400px;
	}
	
	#notices > tbody > tr > td:nth-child(2)
	{
		text-align:left;
		text-indent : 10px;
		white-space: nowrap; /* 넘어간 내용이 아래로 내려가지않고 옆으로 계속 쓰이게 함 */
		overflow : hidden;
		text-overflow: ellipsis;
	}
	
	

/* ----------------footer------------------------------- */
#footer{
	
	position:relative;
	height:100px;
	background: #c19b84;
}


#company-menu{
	padding-top:20px;
	padding-left : 55px;
	position:relative;
	
	
}
	#company-menu > ul >li{
		float:left;
		padding-left: 30px;
		padding-right: 30px;
		background:url('../../images/bg-main-menu-vsp.png') no-repeat 4px center;
	}
	
	#company-menu > ul >li:FIRST-CHILD{
		background:none;
	}
	
	#company-menu > ul > li a{
		font-family: "맑은 고딕", sans-serit;
		font-size: 15px;
		color: #646464;
		text-decoration:none;
	}


