@CHARSET "UTF-8";

.clearfix:after{
			content:".";
			clear : both;
			display:block;
			height:0px;
			visibility:hidden; /*눈에 보이는 것만 안보이도록 그 부분은 있음  */
		}
.hidden{
		   display: none; /* 아예 그부분이 삭제되도록함 */
}

.content-container{
	position: relative;
	width:993px;
	margin-left:auto;
	margin-right:auto;
	height:inherit;
	/* background: yellow; */
}


/* ------------------------- #header ------------------------------------------------------ */
#header{
			height: 100px;
			background: #c19b84;
}

#header > .content-container > *
{
	position: absolute;
}

#logo{
	
	left:0px;
	top: 10px;
}	

#join-menu{
	right:0px;
	top:55px;
}

#join-menu li{
	display:block;
	float: left;
	font-size: 15px;
	font-weight: bold;
	padding-left: 24px;
	background:url('../images/bg-main-menu-vsp.png') no-repeat  13px  center;
}
	#join-menu > li:FIRST-CHILD{
		padding-left: 0px;
		background:none;
	}
	
	#join-menu  li a{
		text-decoration:none;
		color: #646464;
	}
		#join-menu  li a:HOVER{
			color : white;
		}
		
#main-search{
	
	left:368px;
	top:50px;
	width: 320px;
	height:25px;
	border: 1px solid #845f4a;
	
}
	#main-search  input{
		display : block;
		float: left;
		height: 25px;
		/* line-height: 25px;
		text-align: center; */
	}
	
		#main-search input[type ="text"]{
			/* display: block; */
			width: calc(100% - 40px);/* 222px; */
			/* height: 25px; */
			border : 5px; 
			text-align: left;
			font-weight: bold;
			/* float: left; */
			opacity:0.2;
			
		}
		#main-search input[type ="submit"] {
			
			cursor:pointer;
			border : 0px; 
			width: 40px;
			border-left: 1px solid #845f4a;
			float: right;
			font-family: 돋움;
			font-size: 15px;
			opacity:0.7;
		
		} 
		
/* ------------------------- #body ------------------------------------------------------		 */

#body{
	position:relative;
	min-height:500px;
	border-top:10px solid #c19b84;
	margin-top:3px;1픽셀 떨어트려놈	
	border-bottom: 10px;
	/* background: yellow; */
		
}


.page-content .wrapper{
	position:relative;
}

.wrapper{
	width:1152px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.page-header{
	padding-top:100px;
	padding-bottom:50px;
	text-align:center;
}

.primary-title{
	font-size:35px;
	text-transform: uppercase;
	color:#555;
}

.board-write{
	position: relative;
	width: 846px;
	margin:0 auto;
	border-top:2px solid #888;
	padding-top:10px;
}

.board-write-field{
	margin-top:25px;
}

.board-table{
	width:100%;
	margin-top:20px;
	border-bottom:1px solid #eee;
}

.board-table td{
	border-bottom: 0px solid #eee;
	border-left: 0px solid #eee;
	padding: 7px 30px;
	vertical-align:middle;
}

.board-table td:first-child{
	border-left: 0px;
}

.board-table .loginlabel{
	width : 50px;
	padding-left: 240px;
}

.board-btns{
	text-align: center;
	margin-top:60px;
	padding-bottom: 100px;
	
}
.btn {
	border: 0;
	display: inline-block;
	box-sizing: content-box;
	min-width: 50px;
	height: 35px;
	padding: 0 15px;
	margin: 0;
	background: #444;
	color: #fff;
	line-height: 35px;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
	margin-right: 0px;
	text-decoration:none;
	font-family: "Nanum Gothic", "나눔고딕", "맑은고딕", "MalgunGothic", "Malgun Gothic", Dotum, "돋움", verdana, sans-serif;
}

.btn-gray {
	background: #444;margin-left: 2px;
}

.btn-color {
	background: #fe9901;  margin-left: 2px;
}

.btn-large {
	height: 65px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 20px;
	line-height: 65px;
}

		
		
		
		
/* ----------------footer------------------------------- */
#footer{
	
	position:relative;
	height:100px;
	background: #c19b84;
}


#company-menu{
	padding-top:20px;
	padding-left : 55px;
	position:relative;
	
	
}
	#company-menu > ul >li{
		float:left;
		padding-left: 30px;
		padding-right: 30px;
		background:url('../images/bg-main-menu-vsp.png') no-repeat 4px center;
	}
	
	#company-menu > ul >li:FIRST-CHILD{
		background:none;
	}
	
	#company-menu > ul > li a{
		font-family: "맑은 고딕", sans-serit;
		font-size: 15px;
		color: #646464;
		text-decoration:none;
	}

		
