@CHARSET "UTF-8";

.clearfix:after{
         content:".";
         clear : both;
         display:block;
         height:0px;
         visibility:hidden; /*눈에 보이는 것만 안보이도록 그 부분은 있음  */
      }



.block_hlist:after{
         content:".";
         clear : both;
         display:block;
         height:0px;
         visibility:hidden; /*눈에 보이는 것만 안보이도록 그 부분은 있음  */
      }
      
.block_hlist li{
   display:block;
   float: left;
}

.block_hlist > li:first-child
{
   padding-left: 0px !important;
   background: none !important;
}

.hidden{
         display: none; /* 아예 그부분이 삭제되도록함 */
}

.content-container{
	display:flex;
	position: relative;
	width:993px;
	margin-left:auto;
	margin-right:auto;
	height:inherit;

}

/* ------------------------- #header ------------------------------------------------------ */
#header{
         height: 100px;
         background: #c19b84;
}

#header > .content-container > *
{
   position: absolute;
}

#logo{
   
   left:0px;
   top: 10px;
}   

#join-menu{
   right:0px;
   top:55px;
}

#join-menu li{
   font-size: 15px;
   font-weight: bold;
   padding-left: 24px;
   background:url('../images/bg-main-menu-vsp.png') no-repeat  13px  center;
}
   #join-menu > ul >li:FIRST-CHILD{
      padding-left: 0px;
      background:none;
   }
   
   #join-menu li a{
      text-decoration:none;
      color: #646464;
   }
      #join-menu li a:HOVER{
         color : white;
      }
      
#main-search{
   
   left:368px;
   top:50px;
   width: 320px;
   height:25px;
   border: 1px solid #845f4a;
   
}
   #main-search  input{
      display : block;
      float: left;
      height: 25px;
      line-height: 25px;
      text-align: center;
   }
   
      #main-search input[type ="text"]{
         /* display: block; */
         width: calc(100% - 40px);/* 222px; */
         /* height: 25px; */
         border : 5px; 
         text-align: left;
         font-weight: bold;
         /* float: left; */
         opacity:0.2;
         
      }
      #main-search input[type ="submit"] {
         
         cursor:pointer;
         border : 0px; 
         width: 40px;
         border-left: 1px solid #845f4a;
         float: right;
         font-family: 돋움;
         font-size: 15px;
         opacity:0.7;
      
      } 
      
/* -------------------------body-------------------------- */
#body
{
	min-height:500px;
	/* border-top:6px solid #8CBA34; */
	margin-top:10px;
	
}




#footer
{
	height:100px;
	background: #c19b84;
}

#company-menu
{
	padding-top:20px;
	padding-left : 55px;
	position:absolute;
	
}
#company-menu > ul >li
{
	float:left;
	padding-left: 30px;
	padding-right: 30px;
	background:url('../images/bg-main-menu-vsp.png') no-repeat 4px center;
}
	
#company-menu > ul >li:FIRST-CHILD
{
	background:none;
}

#company-menu > ul > li a
{
	font-family: "맑은 고딕", sans-serit;
	font-size: 15px;
	color: #646464;
	text-decoration:none;
}
