@CHARSET "UTF-8";


#body{
	min-height:600px;
	border-top:6px solid #8CBA34;
	margin-top:1px;
}

#category-menu > ul > li > a{
	padding-left:50px;
	font-family:맑은 고딕, sans-serif;
	font-size:15px;
	font-weight:bold;
	color: #004040;
	text-decoration:none; /* 밑줄없애기 */			
}

#category-menu > ul > li > a:HOVER{
	/* HOVER : 마우스 올렸을 때 */
	text-decoration: underline;
	color:#800000;
}