@CHARSET "UTF-8";

.clearfix:after{
			content:".";
			clear : both;
			display:block;
			height:0px;
			visibility:hidden; /*눈에 보이는 것만 안보이도록 그 부분은 있음  */
		}
.hidden{
		   display: none; /* 아예 그부분이 삭제되도록함 */
}

.content-container{
	position: relative; 
	width:993px;
	margin-left:auto;  /*내용부분의 오른쪽왼쪽이 알아서 자동적으로 설정되서 가운데 정렬되게끔 출력시킴  */
	margin-right:auto;
	height:inherit;
	/* background: black; */
}
	
/* ------------------------- #header ------------------------------------------------------ */
#header{
			height: 350px;
			background: #c19b84;
}
#header > .content-container > *
{
	position: absolute;
}

#logo{
	position:absolute;
	left: 300px;
	top: 100px;
}	

#join-menu{
	
	position:absolute;
	top:10px;
	right:0px;
	
}
	#join-menu  li{
		display:block;
		float:left;
		font-size: 15px;
		font-weight: bold;
		padding-left: 15px;
		font-family: "맑은 고딕", sans-serit;
	}
	
	#join-menu  li a{
		
		text-decoration:overline;
		color: #646464;
	}
		#join-menu  li a:HOVER{
		
			text-decoration: underline;
			color : white;
		}
		
#main-search{
	
	width: 320px;
	height:25px;
	border: 1px solid #845f4a;
	position:absolute;
	left:380px;
	top: 300px;
}
	#main-search  input{
		display : block;
		float: left;
		height: 25px;
	}
	
		#main-search input[type ="text"]{
			/* display: block; */
			width: calc(100% - 40px);/* 222px; */
			height: 25px;
			border : 5px; 
			float: left;
			opacity:0.2;
			
		}
		#main-search input[type ="submit"] {
			
			cursor:pointer;
			border : 0px; 
			width: 40px;
			height :25px;
			border-left: 1px solid #845f4a;
			float: left;
			font-family: 돋움;
			font-size: 15px;
			opacity:0.7;
		
		} 
		
/* ------------------------- #body ------------------------------------------------------		 */
#body{
	position:relative;
	min-height:500px;
	border-top:10px solid #c19b84;
	margin-top:3px;/* 1픽셀 떨어트려놈 */	
	border-bottom: 10px;
	/* background: yellow; */
}

/* #body .content-container{ body가 min-height로 지정되어있기때문 
	
	 display: flex;
	 min-height:inherit;
	 
	 flex-flow : row wrap;
} */

/* #main{
	
	width: 993px;
	padding-left : 135px;
	padding-top : 400px;
	background : red;
} */

#main-menu {
	
	/* border-bottom: 1px  solid #c0c0c0; */
	position:relative;
	top: 40px;
	left: 35px;	
	/* background: red; */
}
	#main-menu li{
		
		position:relative;
		float:left;
		padding-left: 75px;
		padding-right: 75px;
		border-bottom: 1px  solid #c0c0c0;
	}
		
	#main-menu  > li > a{
		
		font-family: "맑은 고딕", sans-serit;
		font-size: 20px;
		font-weight: bold;
		color: #646464;
		text-decoration:none;
	}
		#main-menu  li a:HOVER{
		
			color : #ebac56;;
		}

#category-menu{
	position:relative;
	top: 80px;
	left: 0px;	
}
	#category-menu li{
		position:relative;
		float:left;
		padding-left: 5px;
		padding-bottom: 5px;
	}

		/* #category-menu  > li:nth-child(1){
			position:absolute;
			top: 80px;
			left: 0px;
		}
		
		#category-menu  > li:nth-child(2){
			position:absolute;
			top: 80px;
			right: 0px;
		}
		
		#category-menu > li:nth-child(3){
			position:absolute;
			top: 380px;
			left: 0px;
		}
		
		#category-menu  > li:nth-child(4){
			position:absolute;
			top: 845px;
			left: 470px;
		}
		
		#category-menu  > li:nth-child(5){
			position:absolute;
			top: 845px;
			right: 135px;
		}
		
		#category-menu  > li:nth-child(6){
			position:absolute;
			top: 1190px;
			left: 135px;
		}
		
		#category-menu  > li:nth-child(7){
			position:absolute;
			top: 1190px;
			right: 135px;
		}
		
		#category-menu  > li:nth-child(8){
			position:absolute;
			top: 1535px;
			left: 135px;
		}
		
		#category-menu > li:nth-child(9){
			position:absolute;
			top: 1535px;
			left: 470px;
		}
		
		#category-menu  > li:nth-child(10){
			position:absolute;
			top: 1535px;
			right: 135px;
		} */
#visual{
   position: relative;
   height: 200px;
   background: white;
   top: 90px;
   left: 0px;   
}
/* ----------------footer------------------------------- */
#footer{
	
	position:relative;
	height:100px;
	background: #c19b84;
}


#company-menu{
	padding-top:20px;
	padding-left : 55px;
	position:relative;
	
	
}
	#company-menu > ul >li{
		float:left;
		padding-left: 30px;
		padding-right: 30px;
		background:url('../images/bg-main-menu-vsp.png') no-repeat 4px center;
	}
	
	#company-menu > ul >li:FIRST-CHILD{
		background:none;
	}
	
	#company-menu > ul > li a{
		font-family: "맑은 고딕", sans-serit;
		font-size: 15px;
		color: #646464;
		text-decoration:none;
	}

