@CHARSET "UTF-8";


.hidden
{
	display: none; /* 아예 그부분이 삭제되도록함 */
}
/* ------------------------- #header ------------------------------------------------------ */
.clearfix:after
{
	content:".";
	clear:both;
	display:block;
	height:0px;
	visibility:hidden; /*눈에 보이는 것만 안보이도록 그 부분은 있음  */
}
#body .content-container{
	display: flex;
	min-height: inherit;
	/* background: yellow; */
	/* margin-left : auto; 왼쪽에 margin, 즉 오른쪽정렬
	margin-right : auto; 오른쪽에 margin, 즉 왼쪽정렬
	width : 960px;
	height : inherit; 부모의 값을 상속 */
	
}

#header
{
	height: 100px;
	background: #c19b84;
}

#logo
{
	position:absolute;
	left:160px;
	top: 10px;
}

#join-menu
{
	position:absolute;
	right:160px;
	top: 46px;
}
#join-menu > ul >li
{
	float:left;
	padding-left: 24px;
	background:url('../images/bg-main-menu-vsp.png') no-repeat  13px  center;
}
#join-menu > ul >li:FIRST-CHILD
{
	padding-left: 0px;
	background:none;
}

#join-menu > ul > li a
{
	font-family: "맑은 고딕", sans-serit;
	font-size: 25px;
	/* font-weight: bold; */
	text-decoration:none;
	color: #646464;
}
#join-menu > ul > li a:HOVER
{
	/* text-decoration: underline; */
	color : white;
}
		
#main-search
{
	width:320px;
	height:25px;
	border:1px solid #845f4a;
	position:absolute;
	left:460px;
	top: 50px;
}
#main-search > input
{
	display : block;
	float: left;
}

#main-search input[type="text"]
{
	/* display: block; */
	width: calc(100% - 40px);/* 222px; */
	height: 25px;
	border : 5px; 
	float: left;
	opacity:0.2;
	
}
#main-search input[type="submit"]
{
	cursor:pointer;
	border:0px;
	width:40px;
	height:25px;
	border-left: 1px solid #845f4a;
	float:left;
	font-family:돋움;
	font-size:15px;
	opacity:0.7;
}

#body
{
	min-height:500px;
	/* border-top:6px solid #8CBA34; */
	margin-top:10px;
	
}

#aside{
	top:110px;
	left:10px;
	display:inline-block;
	background:red;
	width:200px;
	min-height : inherit;
}

#main{
	width:720px;
	padding-left: 25px;
	padding-top: 35px;
	
	min-height : inherit;
	padding-left: 1px;
	padding-top: 1px;
	background:yellow;
	display:inline-block;
	/* -ms-grid-row:1;
	-ms-grid-column:2; */
	
	/* position : relative;
	float : left;
	margin-left : auto; 
	height: inherit;
	width : 755px; */
	
}

#aside > nav > ul > li > a
{
	padding-left:10px;
	font-family:맑은 고딕, sans-serif;
	font-size:15px;
	font-weight:bold;
	color: #004040;
	text-decoration:none; /* 밑줄없애기 */			
}

#aside > nav > ul > li > a:HOVER
{
	/* HOVER : 마우스 올렸을 때 */
	text-decoration: underline;
	color:#800000;
}




#footer
{
	height:100px;
	background: #c19b84;
}

{
	padding-top:20px;
	padding-left : 55px;
	position:absolute;
	
}
#company-menu > ul >li
{
	float:left;
	padding-left: 30px;
	padding-right: 30px;
	background:url('../images/bg-main-menu-vsp.png') no-repeat 4px center;
}
	
#company-menu > ul >li:FIRST-CHILD
{
	background:none;
}

#company-menu > ul > li a
{
	font-family: "맑은 고딕", sans-serit;
	font-size: 15px;
	color: #646464;
	text-decoration:none;
}
.content-container{
	position:relative;
	/* background: yellow; */
	margin-left : auto; /* 왼쪽에 margin, 즉 오른쪽정렬 */
	margin-right : auto; /* 오른쪽에 margin, 즉 왼쪽정렬 */
	width : 960px;
	height : inherit; /* 부모의 값을 상속 */
	
}
