@CHARSET "EUC-KR";

/* h1,h2{color:blue;}
.hi{color:red;}
		
#a{
	box-sizing:border-box border, padding, content
	color:green;
	display:inline-block;
	width:300px;
	background:yellow;}
		
h1[class]{color:yellow;}
		
h1.hi{color:blue;}
section>.hi{color:yellow;} <!-- 복합연산자인 section이 정밀한 타켓 지정이다-->
.hi{color:pink;} <!-- section>.hi h1.hi .hi 순--> */

#header{
	height: 70px;
}

#lecture-search input[type='submit']{
	text-indent:-999px; /* 텍스트 밀기 */
	cursor:pointer; /* 커서올리면 손그림 */
	border:0px;
	width:31px;
	height:25px;
	background: blue url("../images/btn-zoom.png") no-repeat center;
}

body{
	font-family : 돋움, Arial, sans-serif;
	font-size : 11px;
	color : #979797;
}

#visual{
	height: 171px;
	background: #313131 url("../images/bg-visual.png") no-repeat  center;
	background-attachment:local;
	overflow:auto;
	border-top:3px solid #8CBA34
	
}

#body{
	min-height: 300px; /* min height는 컨텐트가 없을경우 x */
	border-top:5px solid #8CBA34;
	margin-top:1px;
	
}

#footer{
	height: 100px;
	background: #313131;
}

.content-container{
	width : 960px;
	margin-left:auto;
	margin-right:auto;
	height: inherit;
}

#body .content-container{
	/* display: -ms-grid;
	-ms-grid-rows:300px;
	-ms-grid-columns : 205px 755px; */
	display:flex;
	min-height:inherit;
	background: url("../images/bg-body.png") repeat-y center;
}


#aside{
	/* -ms-grid-row:1;
	-ms-grid-column:1;
	background:red; */
	width:205px;
	background:url("../images/bg-aside-title.png") no-repeat center top;

}

#main{
	/* -ms-grid-row:1;
	-ms-grid-column:2; */
	width:720px;
	padding-left: 35px;
	padding-top: 45px;

}

/* .clearfix:after{
	content:".dddddddddddddddddddddd";
	clear:both;
	display:block;
	height:0px;
	visibility:hidden;
		
} */

#test{
	height:50px;
	width:200px;
	background:purple;
	position:absolute; /* 탑바사용가능(누르면 확올라가는거) */
	left:100px;
	top:100px;
	
}