@import url(../../css/reset.css);
@import url(../../css/layout.css);
@import url(../../css/base.css);


/* ------------------------- #header ------------------------------------------------------ */
#header{
         height: 160px;
         background: #c19b84;
         border-bottom:3px solid white;
}

#header > .content-container > *
{
   position: absolute;
}

#logo{
   
   left:0px;
   top: 10px;
}   

#join-menu{
   right:0px;
   top:55px;
}

#join-menu li{
   font-size: 15px;
   font-weight: bold;
   padding-left: 24px;
   background:url('../../images/bg-main-menu-vsp.png') no-repeat  13px  center;
}
   #join-menu > ul >li:FIRST-CHILD{
      padding-left: 0px;
      background:none;
   }
   
   #join-menu li a{
      text-decoration:none;
      color: #646464;
   }
      #join-menu li a:HOVER{
         color : white;
      }
      
#main-search{
   left:368px;
   top:50px;
   width: 320px;
   height:25px;
   border: 1px solid #845f4a;
}

#main-search  input{
	display : block;
	float: left;
	height: 25px;
	line-height: 25px;
	text-align: center;
}
   
#main-search input[type ="text"]{
	/* display: block; */
	width: calc(100% - 40px);/* 222px; */
	/* height: 25px; */
	border : 5px; 
	text-align: left;
	font-weight: bold;
	/* float: left; */
	opacity:0.2;
}

#main-search input[type ="submit"] {
	cursor:pointer;
	border : 0px;
	width: 40px;
	border-left: 1px solid #845f4a;
	float: right;
	font-family: µ¸¿ò;
	font-size: 15px;
	opacity:0.7;
} 

/* ------------------------- #body ------------------------------------------------------		 */

#body{
	position:relative;
	min-height:500px;
	border-top:10px solid #c19b84;
	/* background: yellow; */
		
}
.page-content .wrapper{
	position:relative;
}

.wrapper{
	width:1152px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	/* background: red; */
}

.page-header{
	padding-top:50px;
	padding-bottom:50px;
	text-align:center;
}


.primary-title{
	font-size:35px;
	text-transform: uppercase;
	color:#555;
	text-align: center;
}

.secondary-title{
	margin:6px 0;
	font-size:14px;
	color:#999;
	text-align: center;
}

.board-write{
	position: relative;
	width: 846px;
	margin:0 auto;
	border-top:2px solid #888;
	padding-top:10px;
	padding-bottom: 50px;
}

.board-write-field{
	margin-top:25px;
}

.board-table{
	width:100%;
	margin-top:20px;
	border-bottom:1px solid #eee;
}

.board-table td{
	border-bottom: 0px solid #eee;
	border-left: 0px solid #eee;
	padding: 7px 30px;
	vertical-align:middle;
}

.board-table td:first-child{
	border-left: 0px;
}

.board-table .loginlabel{
	width : 50px;
	padding-left: 240px;
}

.board-btns{
	text-align: center;
	margin-top:60px;
	padding-bottom: 100px;
	
}
.btn {
	border: 0;
	display: inline-block;
	box-sizing: content-box;
	min-width: 50px;
	height: 35px;
	padding: 0 15px;
	margin: 0;
	background: #444;
	color: #fff;
	line-height: 35px;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
	margin-right: 0px;
	text-decoration:none;
	font-family: "Nanum Gothic", "³ª´®°íµñ", "¸¼Àº°íµñ", "MalgunGothic", "Malgun Gothic", Dotum, "µ¸¿ò", verdana, sans-serif;
}

.btn-gray {
	background: #444;margin-left: 2px;
}

.btn-color {
	background: #fe9901;  margin-left: 2px;
}

.btn-large {
	height: 65px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 20px;
	line-height: 65px;
}


.field-title {
	padding-top: 22px;
	padding-left: 22px;
	background: url('../ubay_images/icons/icon-logo.png') 0 50% no-repeat;
	font-size: 14px;
	vertical-align: middle;
}

.board-write-table {
	width: 100%;
	margin-top: 20px;
	border-top: 1px solid #eee;
	/* background: red; */
}
.board-write-table td {
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	padding: 7px;
	color: #222;
	vertical-align: middle;
}
.board-write-table td:first-child {
	border-left: 0;
}
.board-write-table .label {
	width: 130px;
	padding: 15px;
	background: #f2f2f2;
	color: #555;
}
.board-write-table .label50p {
	width: 50%;
	padding-left: 15px;
	padding-right: 15px;
	background: #f2f2f2;
	text-align: center;
	color: #555;
}
.board-write-table .hangul {
	width: 450px;
	padding-left: 5px;
	padding-right: 5px;
	background: #f2f2f2;
	color: #555;
}
.board-write-table .hangul1 {
	width: 250px;
	padding-left: 5px;
	padding-right: 5px;
	background: #f2f2f2;
	color: #555;
}
.board-write-table .readinput {
	padding-left: 5px;
	background: #fff;
	border: 0;
	text-align: right;
}
.board-write-table .redmoney {
	padding-left: 5px;
	background: #fff;
	color:#EC1943;
	text-align: right;
	font-weight: 700;
}
.board-write-table .label[colspan="2"] {
	text-align: center;
}
.board-write-table td p {
	padding: 0;
}
.board-write-table td p + p,
.board-write-table td p + .guide {
	padding-top: 0;
}
.board-write-table .label p {
	position: relative;
	padding-left: 20px;
}
.board-write .required,
.board-write .not-required {
	display: inline-block;
	padding: 2px 4px;
	background: #EC1943;
	font-size: 12px;
	color: #fff;
	line-height: 1;
}
.board-write .not-required {
	background: #bbb;
}
.board-write-table .required,
.board-write-table .not-required {
	margin-right: 5px;
	margin-left: -19px;
}
.board-write-table .label[colspan] span {
	position: static;
	margin-right: 8px;
}

.board-write-table input[type=text],
.board-write-table input[type=passwod],
.board-write-table select {
	margin: 5px 0;
}
.board-write-table input[type=radio] {
	margin-left: 15px;
}
.board-write-table input[type=radio]:first-child {
	margin-left: 0;
}
.board-write-table textarea {
	width: 95.8%;
}
.board-write-table .btn-gray {
	margin-left: 5px;
}
.board-write-table .input-read {
	width: 200px;
	border: 0;
}
.board-write-table .input200 {
	width: 200px;
}
.board-write-table .input400 {
	width: 500px;
}
.board-write-table .input664 {
	width: 664px;
}
.board-write-table .link-calendar {
	display: inline-block;
	margin-left: 4px;
	margin-top: 4px;
	vertical-align: middle;
}
.board-write-table .editor {
	margin: -7px -30px -12px -7px;
	width: 846px;
}
.board-write-table span.guide {
	margin-left: 10px;
}
.board-write-table .space {
	padding: 0 5px;
}
.board-write-table .guide {
	padding: 9px 0;
	font-size: 12px;
	color: #777;
}
.board-write-table .guide-editor {
	margin-top: 10px;
	margin-bottom: 20px;
	color: #888;
}
.board-write-table .guide-file {
	margin: 5px -7px 10px -7px;
	padding: 15px 40px;
	background: #F2F2F2;
	color: #0e8fea;
}
.board-write-table .guide-file p {
	padding: 4px 0;
}

.board-write-table .btn-link {
	padding: 1px 15px;
	margin-left: 10px;
	background: #EC1943;
	font-weight: 700;
	font-size: 11px;
	color: #fff;
}
.board-write-table .datetimepicker {
	position: absolute;
	left: -150px;
	right: 0;
	text-align: center;
	color: #cacaca;
	line-height: 35px;
}

.board-write .board-btns {
	margin-top: 60px;
	text-align: center;
}

.article-detail
{	
	width:720px;
	/* background: red; */
	/* border-top: 1px solid #E9E9E9; */
}

.article-detail-row
{
	height: 33px;
	line-height: 33px;
	border-bottom: 1px solid #E9E9E9;
	clear: both;
}

.article-detail-title
{	
	width: 160px;
	background: #f2f2f2;
	text-align:center;
	float:left;
}

.article-detail-data
{
	width:550px;
	text-indent: 15px;
	float:left;
}

.article-detail input
{
	height: 23px;
	width:500px;
	vertical-align: middle;	
} 

.article-detail textarea
{
	width:680px;
	min-height: 300px;
}

.title{
	width:400px;
}

td.title{
	text-align: left;
	text-indent: 5px;	
}

td.title a:hover{
	text-decoration: underline;
}
.article-content
{	
	clear:left;
	padding: 20px;
	border-bottom:1px solid rgb(233,233,233);
}

.article-comment 
{
	text-align: center;
}

.button{
	display:inline-block;
	border:0px;
	text-indent: -999px;
	overflow: hidden;
	cursor:pointer;	
}

.btn-list {
    width: 64px;
    height: 23px;
    background: url("../images/buttons.png") no-repeat -71px 0px;
}

.btn-cancel{
	width: 64px;
    height: 23px;
    background: url("../images/buttons.png") no-repeat -184px 0px;
}

.btn-write{
	width: 71px;
    height: 23px;
    background: url("../images/buttons.png") no-repeat 0px 0px;
}

.btn-edit{
	width: 64px;
    height: 23px;
    background: url("../images/buttons.png") no-repeat -71px -23px;
}

.btn-del{
	width: 67px;
    height: 23px;
    background: url("../images/buttons.png") no-repeat -184px -23px;
}

.btn-save{
	width: 67px;
    height: 23px;
    background: url("../images/btnSave.png") no-repeat 0px 0px;
    vertical-align: top;
}

.article-search-form{
	height: 21px;
}

.article-search-form select,
.article-search-form input 
{
	display: block;
	float: left;
	margin-left: 3px;
	height: 21px;
	line-height: 21px;	
}
.article-search-form input[type="text"]
{
	border:1px solid #8CBA34;
	width:150px;
}
.article-search-form input[type="submit"]
{
	cursor:pointer;
	border:0px;
	text-indent: -999px;
	overflow: hidden;	
	width:49px;
	height: 23px;
	background: url("../images/btnSearch.png") no-repeat left top;
}

.margin-large
{
	margin-top: 49px;	
}
 
 .margin-small
 {
 	margin-top: 10px;
 }
 
 #searchform{	
	border:5px solid #8CBA34;
	width:308px;
	height: 25px;
}

#searchform label,#searchform input 
{
	display: block;	
	float: left;
	height: 25px;
	line-height: 25px;
	text-align: center;
}

#searchform label{
	font-weight: bold;
	width:60px;
}

#searchform input[type="text"]
{
	border:0px;
	width:217px;
	text-align: left;
	font-weight: bold;
	color:#646464;
}

#searchform input[type="submit"]
{
	float:right;
	background: url(../images/btnZoom.png) no-repeat left top;	
	border-left:1px solid #8CBA34;
	width:31px;
	cursor: pointer;
}

.board-btns{
	text-align: center;
	margin-top:20px;
	padding-bottom: 100px;
	
}

.btn-gray {
	background: #444;
	margin-left: 4px;
}

.btn-color {
	background: #fe9901;
}
		